*{
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
  color: #fbf9fa;
  text-align: left;
  line-height: 1.5;
}

main{
  background-color: #333644
}

main a{
  color:#a80038;
}
.headshot {
  border-radius: 70%;
  width: 30px;
}

.logo{
  width: 30px;
}

.footer-logo{
  background-color: #fbf9fa;
  width: 30px;
}

.projects{
  width: 30%;
  height: 30%;
}

.links{
  text-align: right;
}

.description-box{
  display: flex;
  flex-direction: row-reverse;
}

h1 {
  text-align: center;
  color: #fd0054;
}

h2, h3, h4 {
  color:#fd0054;
}

nav, footer {
  padding: 1% 0;
  background-color: #fbf9fa;
  color: #131010;
}
  
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header {
  margin-top: 3%;
  padding: 3% 0;
}
  
section {
  min-height: 100px;
  padding: 3% 0;
}

@media screen and (min-width: 570px){
  .projects{
    width: 40%;
    height: 40%
  } 
} 
  