*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.content{
  margin-left: 5%;
  margin-right: 3%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body {
  font-family: 'Jura', sans-serif;
  font-size: 2rem;
  color: #333644;
  text-align: left;
  line-height: 1.5;
}

main{
  background-color: #fbf9fa
}

a{
  color:#a80038;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0%;
}

#navigation-items{
  color: #fd0054;
  margin-right: 10px;
}
.about-outside-link{
  font-size: 2.5rem;
}
.headshot {
  border-radius: 70%;
  width: 3rem;
  margin-left:20px;
}

.logo{
  width: 3rem;
}

.footer-logo{
  background-color: #333644;
  width: 3rem;
  margin-right: 2rem;
}
li{
  list-style: none;
  display: inline;
}

.projects{
  width: 100%;
  height: 100%;
}

.description-box{
  display: flex;
  flex-direction: column;
}

.screenshots{
  margin-right: 2%;
  margin-left: 0%;
  padding: 2%;
}

.screenshots-element{
  width: 100%;
  height: 100%;
}

h1 {
  color: #a80038;
  margin-top: 100px;
}

h2, h3, h4 {
  color:#a80038;
}

nav, footer {
  padding: 1% 0;
  background-color: #333644;
  color: #fbf9fa;
}

video{
  object-fit:contain;
}

.project-recording video{
  width: 90%;
  height: auto;
}

.navigation-items{
  margin-right: 3%;
  font-size: 2.5rem;
}

header {
  margin-top: 2%;
  padding: 2% 0;
  text-align: center;
}

.tech{
  margin-right: 1rem;
  width: 3rem;
}

section {
  padding: 2%;
}

.check-the-code{

  text-align-last: right;
}

.tech-skills-deck{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.and-growing{
  text-align: center;
}

.padded-div{
  padding: 50px 0px 0px 0px;
}

@media screen and (min-width: 768px){
  a{
    font-size: 2rem;
  }
  
  .tech-skills-deck{
  display: flex;
  justify-content:center; 
  }

  .padded-div{
    padding: 60px 0px 0px 0px;
  }
} 
@media screen and (min-width: 1440px){
  .padded-div{
    padding: 80px 0px 0px 0px;
  }
}
  